/*None*/
@media screen and (max-width: 575.98px) {
  .brands h4 {
    font-size: 1rem;
  }
  .brands h5 {
    font-size: 1rem;
  }
}
/*sm*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .brands h4 {
    font-size: 1rem;
  }
  .brands h5 {
    font-size: 1rem;
  }
}

.brands h4 {
  padding: 0.5rem;
  cursor: pointer;
}
.brands h5 {
  padding: 0.5rem;
  color: gray;
  cursor: pointer;
}
.pd img:hover {
  opacity: 0.5;
}
.pd:hover {
  cursor: pointer;
}
